.search-form {
  background-color: #ffee05;
}

.example {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

// .example code {
//   font-family: monospace;
//   font-size: 16px;
//   font-weight: 700;
//   background-color: #ff6b0a;
//   color: #fff;
//   padding: 2px 6px;
//   border-radius: 2px;
// }

// .example .background {
//   // height: 240px;
//   // // ❗️❗️❗️ The path to images from a SASS file
//   // // is always the same as from the css folder.
//   // background-image: url('../images/logo.png');
//   // background-size: cover;
//   // background-position: center;
// }
