<article class="example" id="uk">
  <form class="search-form" id="search-form">
    <input type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
    <button type="submit">Search</button>
  </form>


</article>
<div class="gallery">
  <!-- Картки зображень -->
</div>
<button type="button" class="load-more">Load more</button>
<button id="scrollUp" class="button_scroll" aria-label="Scroll Up"><svg class="scroll-icon" width="28" height="28">
    <use href="/src/images/minimal-icons.svg#icon-arrow-up"></use>
  </svg></button>
<button id="scrollDown" class="button_scroll" aria-label="Scroll Down"><svg class="scroll-icon" width="28" height="28">
    <use href="/src/images/minimal-icons.svg#icon-arrow-down"></use>
  </svg></button>