<article class="example" id="uk">
  <form class="search-form" id="search-form">
    <input type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
    <button type="submit">Search</button>
  </form>
  <!-- <div>
    <button id="scrollUp" class="button_scroll" aria-label="Scroll Up"></button>
    <button id="scrollDown" class="button_scroll" aria-label="Scroll Down"></button>
  </div> -->
</article>
<div class="gallery">
  <!-- Картки зображень -->
</div>
<button type="button" class="load-more">Load more</button>